/*COMPONENT - Shadow*/
.shadowBox {
  background: $white;
  display: inline-block;
  position: relative;
  width: 360px;
}

.shadow {
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.0), 0 0px 27px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.0), 0 0px 27px rgba(0, 0, 0, 0.10);
  -ms-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.0), 0 0px 27px rgba(0, 0, 0, 0.10);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.0), 0 0px 27px rgba(0, 0, 0, 0.10);
}