//@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

$ipay-primary: #009688;
$ipay-secondary: #f5f5f5;
$ipay-success: #00b2a2;
$ipay-regular: #3598dc;
$ipay-error: #e7505a;
$ipay-warning: #f4d03f;
$ipay-text-grey: #717171;
$ipay-text-regular: #252525;
$ipay-border: #dde1e5;

// Define vertical, horizontal, or both position
@mixin center($position) {
    position: absolute;

    @if $position == 'vertical' {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    } @else if $position == 'horizontal' {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
    } @else if $position == 'both' {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.ipay-brand-bg {
    background-color: $ipay-success;
    color: #fff;
    &.solid {
        padding-left: 20px;
        padding-right: 20px;
        .caption {
            .caption-helper {
                color: lighten($ipay-success, 30%) !important;
            }
        }
    }
}

// Using the mixin
/*.foo {
  @include center(both);
}
.foo-parent {
  position: relative;
}*/

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

a {
    &:hover, &:active, &:focus {
        color: inherit;
    }
}

.portlet.light {
    &.modified {
        padding: 40px 50px;
        margin-bottom: 50px;
        margin-top: 15px;
    }
    .portlet-title {
        .caption {
            h3 {
                font-size: 18px;
                font-weight: 400;
                color: #2f353b !important;
                .caption-helper {
                    opacity: .7;
                }
            }
        }
        .actions {
            .btn {
                margin-bottom: 0;
                line-height: 18px !important;
                padding: 4px 10px;
                height: 30px;
                i {
                    font-size: 12px;
                }
            }
        }

    }
    .portlet-body {
        h4 {
            font-size: 16px;
            font-weight: 300;
            color: #525e64;
        }
    }
}

.blank-space {
    height: 15px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.mt-element-step {
    .step-thin {
        .mt-step-title {
            font-size: 13px;
            padding-left: 40px;
            margin-top: 2px;
        }
        .mt-step-number {
            padding: 2px 10px !important;
            font-size: 15px;
        }
    }
}

/* form elements */
.ipay-input {
    width: 100%;
    outline: none;
    font-weight: 400;
    font-style: normal;
    border-radius: 3px;
    font-size: 14px;
    color: $ipay-text-regular;
    background: #fff;
    border: 1px solid $ipay-border;
    background-clip: padding-box;
    height: 38px;
    padding: 10px;
    margin: 0;
    transition-property: background, border;
    transition-duration: 0.3s;
}

.ipay-select {
    width: 100%;
    outline: none;
    font-weight: 400;
    font-style: normal;
    border-radius: 3px;
    font-size: 12px;
    color: $ipay-text-regular;
    background: #fff;
    border: 1px solid $ipay-border;
    background-clip: padding-box;
    height: 38px;
    padding: 10px;
    margin: 0;
    transition-property: background, border;
    transition-duration: 0.3s;
}

.input-icon > i + .ipay-input {
    padding-left: 30px;
}

.input-icon > i {
    margin-top: 13px;
}

.form-group {
    &:last-child {
        margin-bottom: 0;
    }
}

.all-cap {
    text-transform: uppercase;
}

/* ipay notification bar */
.ipay-notification-bar {
    .ipay-notification-content-holder {
        padding: 12px 20px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999999999999999;
        color: #fff;
        &.regular {
            color: darken($ipay-primary, 10%);
            background-color: lighten($ipay-success, 10%);
        }
        &.warning {
            color: $ipay-text-grey;
            background-color: lighten($ipay-warning, 10%);
        }
        &.sucess {
            background-color: lighten($ipay-success, 10%);
        }
        &.error {
            background-color: lighten($ipay-error, 10%);
        }
        p {
            margin-bottom: 10px;
            line-height: 18px;
        }
        .ipay-notification-bar-close {
            position: absolute;
            right: 15px;
            top: 8px;

        }
        .btn {
            padding: 0 10px;
            margin-left: 5px;
            color: #fff;
        }
        a {
            color: inherit;
        }
    }
}

//.ipay-notification-bar + .general-header {
//  header {
//    top: 40px;
//  }
//}

/* Button style goes here */
label {
    color: $ipay-text-grey;
    font-weight: 600;
    margin-bottom: 0;
}

.btn {
    font-weight: 400;
    line-height: 1.75 !important;
    transition-property: background, color;
    transition-duration: 0.3s;
    &.btn-block {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.btn-xs {
        height: inherit;
    }
}

.ipay-regular-button {
    background: $ipay-regular;
    color: #fff;
    &:hover {
        background: darken($ipay-regular, 5%);
        color: #fff;
    }
}

.ipay-secondary-button {
    background: $ipay-secondary;
    color: $ipay-text-grey;
    border: 1px solid $ipay-border;
    &:hover {
        background: darken($ipay-secondary, 5%);
        color: $ipay-text-grey;
    }
}

.ipay-success-button {
    background: $ipay-success;
    color: #fff;
    &:hover {
        background: darken($ipay-success, 5%);
        color: #fff;
    }
}

.ipay-error-button {
    background: $ipay-error;
    color: #fff;
    &:hover {
        background: darken($ipay-error, 5%);
        color: #fff;
    }
}

.ipay-warning-button {
    background: $ipay-warning;
    color: $ipay-text-grey;
    &:hover {
        background: darken($ipay-warning, 5%);
        color: #fff;
    }
}

.text-button-success {
    color: $ipay-success;
    &:hover {
        color: darken($ipay-success, 5%);
    }
}

.text-button-regular {
    color: $ipay-regular;
    &:hover {
        color: darken($ipay-regular, 5%);
    }
}

.text-button-error {
    color: $ipay-error;
    &:hover {
        color: darken($ipay-error, 5%);
    }
}

.text-button-warning {
    color: $ipay-warning;
    &:hover {
        color: darken($ipay-warning, 5%);
    }
}

.text-button-default {
    color: $ipay-text-grey;
    &:hover {
        color: darken($ipay-text-grey, 5%);
    }
}

.text-button-small {
    font-size: 85%;
}

.btn-link {
    &:hover {
        text-decoration: none;
    }
}

/* Header style */
.general-header ~ .page-container {
    //margin-top: 76px;
    min-height: 706px;
    background: #fcfcfc;
    /*margin-bottom: 198px;*/
    .page-content {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* App Header */
.page-header {
    .page-header-top {
        //min-height: 76px;
        .top-menu {
            margin: 18px 0;
            .navbar-nav > li {
                padding-left: 25px !important;
                &.dropdown {
                    height: 40px;
                    a {
                        &:hover, &:active, &:focus {
                            background-color: transparent !important;
                        }
                    }
                    &.dropdown-user {
                        .dropdown-toggle {
                            &.user-avtr {
                                width: 40px;
                                height: 40px;
                                padding: 0;
                                img {
                                    margin: 0;
                                    border: none;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    &.dropdown-notification {
                        border-left: 1px solid darken($ipay-primary, 5%);
                        margin-left: 25px;
                        .dropdown-toggle {
                            padding: 12px 0 8px;
                        }
                    }
                    &.dropdown-balance {
                        padding-left: 0 !important;
                        text-align: right;
                        position: relative;
                        .balance-title {
                            font-size: 11px;
                            color: lighten($ipay-success, 10%);
                            display: block;
                            line-height: 17px;
                            margin: 0;
                        }
                        .balance-amount {
                            float: right;
                            font-size: 20px;
                            font-weight: 400;
                            color: #fff;
                            line-height: 24px;
                        }
                        .balance-reload {
                            float: right;
                            padding: 2px 6px 0 0;
                            color: lighten($ipay-success, 10%);
                        }
                    }
                    &.open {
                        .dropdown-toggle {
                            background-color: transparent;
                        }
                    }
                }
                &.dropdown > .dropdown-toggle {
                    .badge {
                        &.badge-default {
                            right: -7px !important;
                            top: 3px;
                            background-color: lighten($ipay-success, 5%) !important;
                        }
                    }
                }
                &.notification {

                }

            }
        }
    }
}

/* profile complete */
.mt-element-step {
    .step-line {
        .mt-step-number {
            border-width: 1px;
            padding: 0;
            i {
                top: 65%;
                font-size: 20px;
            }
        }
    }
}

/* Profile complete */
.ipay-profile-complete {
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px 10px 20px;
    .ipay-profile-complete-item {
        /*text-align: center;*/
        padding: 10px 25px;
        border-right: 1px solid #eee;
        min-height: 120px;
        .item-image {
            border-radius: 50%;
            border: 1px solid $ipay-success;
            width: 42px;
            height: 42px;
            padding: 10px 8px;
            margin-bottom: 15px;
            float: left;
            margin-right: 15px;
            text-align: center;
            i {
                font-size: 24px;
                color: $ipay-success;

            }
        }
        .item-content-holder {
            float: left;
            .item-title {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 0;
            }
            .profile-complete-item-list {
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    a {
                        color: $ipay-text-grey;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                            color: $ipay-success;
                        }
                        .completed-item {
                            font-size: 16px;
                            color: $ipay-success;
                        }
                    }
                }
            }
        }
        &:last-child {
            border-right: none;
        }
        &:first-child {
            padding-left: 0;
        }
    }
}

.ipay-profile-complete-2 {
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px 10px 20px;
    .ipay-profile-complete-item {
        /*text-align: center;*/
        padding: 10px 20px;
        border-right: 1px solid darken($ipay-success, 5%);
        min-height: 120px;
        .item-image {
            border-radius: 50%;
            border: 1px solid #fff;
            width: 42px;
            height: 42px;
            padding: 10px 8px;
            margin-bottom: 15px;
            float: left;
            margin-right: 35px;
            text-align: center;
            i {
                font-size: 24px;
                color: #fff;

            }
        }
        .item-content-holder {
            float: left;
            .item-title {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 0;
                color: #fff !important;
            }
            .profile-complete-item-list {
                padding: 0;
                margin: 0;
                list-style: none;
                font-size: 12px;
                li {
                    a {
                        color: darken(#fff, 7%);
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                            color: lighten($ipay-success, 12%);
                        }
                        .completed-item {
                            font-size: 16px;
                            color: lighten($ipay-success, 12%);
                        }
                    }
                }
            }
        }
        &:last-child {
            border-right: none;
        }
        &:first-child {
            padding-left: 0;
        }
    }
}

/* Account settings style goes here */
.ipay-account-settings {
    .right-panel-item-holder {
        padding: 0 0 0 140px;
        background-repeat: no-repeat;
        background-size: 120px 120px;
        &.personal-info {
            background-image: url(./assets/settings/personal-info.png);
        }
        &.business-info {
            background-image: url(./assets/settings/business-info.png);
        }
        &.parent-info {
            background-image: url(./assets/settings/parents-info.png);
        }
        &.email-info {
            background-image: url(./assets/settings/email.png);
            min-height: 120px;
        }
        &.access {
            background-image: url(./assets/settings/access.png);
        }
        &.trusted-device {
            background-image: url(./assets/settings/trusted-device.png);
        }
        &.logout {
            background-image: url(./assets/settings/logout.png);
        }
        &.photo-id {
            background-image: url(./assets/settings/photo-id.png);
        }
        &.business-doc {
            background-image: url(./assets/settings/business-doc.png);
        }
        &.introducer {
            background-image: url(./assets/settings/introducer.png);
        }
        &.address-book {
            background-image: url(./assets/settings/address-book.png);
        }
        &.business-address {
            background-image: url(./assets/settings/business-address.png);
        }
        &.bank {
            background-image: url(./assets/settings/bank.png);
        }
        &.card {
            background-image: url(./assets/settings/card.png);
            min-height: 120px;
        }
        &.manager {
            background-image: url(./assets/settings/manager.png);
        }
        .info-title {
            text-transform: uppercase;
            font-size: 12px !important;
            font-weight: 500 !important;
            color: $ipay-regular !important;;
            padding: 12px 0 8px 0;
        }
        .settings-info-list {
            padding: 12px 0;
            border-bottom: 1px solid lighten($ipay-border, 5%);
            &:last-child {
                border-bottom: none;
            }
            &.row {
                margin-right: 0;
                margin-left: 0;
            }
        }
        .info-list {
            padding: 7px 0;
            border-bottom: 1px solid lighten($ipay-border, 5%);
            &:last-child {
                border-bottom: none;
            }
            &.row {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}

hr {
    border-top: 1px solid $ipay-border !important;
}

.relative-container {
    position: relative;
}

.absolute-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px;
    height: auto;
}

/* Account selection */
.signup-options {
    .option {
        padding: 30px 20px;
        border: 1px solid lighten($ipay-border, 4%);
        border-radius: 5px;
        transition: box-shadow .3s;
        margin-bottom: 30px;

        img {
            width: 100px;
            height: 100px;
            margin-bottom: 40px;
            border: 1px solid lighten($ipay-border, 5%);
            border-radius: 50%;
        }
        h4 {
            font-weight: 400 !important;
        }
        p {
            font-size: 13px;
            line-height: 21px;
            color: $ipay-text-grey;
        }
        &:hover {
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
        }
    }
}

/* Footer */
/*.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999999999;
}*/

/* reCaptcha */
.recaptcha {
    margin-bottom: 15px;
}

.app-download-info-alert {
    margin-top: 0;
    z-index: 99999999999999;
    position: fixed;
    width: 100%;
}

.page-container-bg-solid {
    .app-download-info-alert {
        margin-top: -76px;
    }
}

.alert-success {
    background-color: rgba(178, 241, 236, 0.92);
    border-color: #abe7ed;
    color: #009688;
    .btn-success {
        background-color: #00b2a2;
        border-color: #00b2a2;
    }
}

#spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: grey;
    opacity: .8;
}

.label-large {
    display: table;
    margin: 0 auto;
    padding: .4em 1em;
    font-size: 90%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: .25em;
    vertical-align: middle;
    horizontal-align: middle;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

.cropper {
    border-radius: 8px;
    border: 2px dashed #ccc;
    float: left;
}

.navbar-include {
    color: #000;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-top: 6px;
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* Custom NavBar */
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

.navbar-inverse .navbar-text {
    color: #B9B9B9;
}

.navbar-inverse .navbar-nav > li > a {
    color: #E6E6E6;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #B9B9B9;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #B9B9B9;
    background-color: #080808;
}

//.modal-show {
//  transform: translate(50%, 50%);
//  width: 50%;
//  height: 45%;
//  margin-left: 20px;
//  align-items: center;
//}

.navbar-inner-sm > li > a {
    float: none;
    padding: 4px 5px 5px;
    line-height: 10px;
    color: #337ab7;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

}

.search-div {
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
}

.friend-tab {
    margin-top: -5px;
    margin-left: -15px;
    margin-right: -15px;
}

.popover.my-popover {
    margin-left: -10px;
    width: 150px;

    /* Or: margin: -20px 0 0 15px; */
}

/* * for mendatory field
-------------------------------------------------- */
.required-field:after {
    color: #C02E0F;
    content: "*";
    margin-left: 2px;
    top: 0px;
}

.no-underline {
    text-decoration: none !important
}

.modal {
    text-align: left;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

//color
.deep-gray-color {
    color: #525E64;
}

.green {
    color: #64DD17;
}

.sub-title-color {
    color: #9eacb4;
}

.custom-text-area {
    resize: none;
    border: 0 none white;
    padding: 0;
    outline: none;
    overflow: hidden;
    height: 20px;
}

.custom-input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
}

.button-large-padding {
    padding-left: 35px;
    padding-right: 35px;
}

td > input[type='number'] {
    width: 100%; /*this will set the width of the textbox equal to its container td*/
}

.ui-select-focusser {
    visibility: hidden;
}

.ui-select-offscreen {
    visibility: hidden;
}

#focusser-0 {
    visibility: hidden;
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}

.table-extra-padding {
    padding: 12px;
}

.extra-padding {
    padding-right: 25px;
}

// header icon focus and active color
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle, .page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle, .page-header .page-header-top .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle {
    &:active {
        background: inherit;
    }
    &:focus {
        background: inherit;
    }
}

.mt-element-step .step-thin .mt-step-number {
    padding: 4px 15px;
}

.mt-element-step .step-thin .active {
    background-color: lighten($ipay-regular, 10%) !important;
}

.mt-element-step .step-thin .done {
    background-color: $ipay-success !important;
}

.mt-element-step .step-thin .active .mt-step-number {
    color: #4B77BE !important;
}

#utility-bill {
    .guide-image {
        margin: 15px 0 30px;
    }
    p {
        margin: 0 0 10px;
    }
    .contact-box {
        display: table;
        width: 100%;
        .form-inline {
            display: table-cell;
            text-align: center;
            .form-body {
                .form-group {
                    vertical-align: top;
                }
            }
        }
    }
}

.card-merchant-identity-holder {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        padding: 0;
        margin: 0 5px 5px 0;
        display: inline-block;
        a.card-merchant-identity {
            display: inline-block;
            opacity: .6;
            //transition: opacity .3s;
            //border: 1px solid #ffffff;
            transition: box-shadow .35s ease-out, transform .3s ease-out, opacity .2s ease-out;

            img {
                height: 40px;
            }
            &:hover, &.selected {
                opacity: 1;
                //border: 1px solid #e1e1e1;
                opacity: 1;
                margin-top: -2px;
                box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
                transform: translate(0, -4px);
            }
            &.selected {
            }
        }
    }
}

.modal-header {
    padding: 0 15px 15px 15px;
}

.mt-comment-body {
    line-height: 1.35;
}

/* hotfix */
.dropdown-menu.dropdown-menu-default > li:hover {
    background-color: darken(#009688, 10%);
}

.alert.alert-server {
    margin-bottom: 0;
    border-radius: 0;
}

.text-success {
    color: $ipay-success;
}

.text-error {
    color: $ipay-error;
}

.text-warning {
    color: $ipay-warning;
}

.text-default {
    color: $ipay-text-grey;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: $ipay-success;
}

.fees-table {
    .table thead tr th {
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
    }
}

.profile-sidebar-portlet {
    padding: 20px 0 0 !important;
}

/* Bangla Text Decoration */
div.ipay-bangla {
    h1, h2, h3, h4, h5, h6 {
        letter-spacing: 0 !important;
    }
}

/* Microsoft Edge & Internet Explorer specific hack */
@supports (-ms-ime-align: auto) {
    div#ms-device-overflow-scroll {
        position: fixed;
        left: 0;
        right: 0;
        height: 100%;
        overflow-y: scroll;
    }
    html {
        overflow-y: hidden;
    }
}

.profile-sidebar {
    float: left;
    width: 240px;
    margin-right: 20px;

    .profile-sidebar-portlet {
        padding: 15px 0 0 !important;

        .profile-userpic {
            img {
                width: 90%;
                height: 90%;
                border: 1px solid #DCDCDC;
            }
            button {
                bottom: 20px;
                right: 30px;
            }
        }

        .profile-usertitle {
            text-align: center;
            margin: 15px 0;
            padding: 0 15px;

            .profile-usertitle-name {
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 0;
                line-height: 17px;
            }

            .profile-usertitle-job {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 7px;
                opacity: 0.6;
            }
        }

        .profile-usermenu {
            margin-top: 0;
            padding-bottom: 3px;
            ul {
                li {
                    position: relative;
                    a {
                        font-size: 14px;
                        font-weight: 400;
                    }

                    ul {
                        display: none;
                        width: 200px;
                        z-index: 1;
                        position: absolute;
                        top: 0;
                        left: 100%;
                        background: #fff;
                        border: 1px solid #f0f4f7;
                        list-style: none;
                        border-radius: 4px;
                    }

                    &:hover {
                        ul {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.label-success, .progress-bar-success {
    background-color: $ipay-success;
}

.label-danger {
    background-color: $ipay-error;
}

.label-warning {
    background-color: $ipay-warning;
}

.label-info {
    background-color: $ipay-regular;
}

.label-primary {
    background-color: $ipay-primary;
}

.ipay-status {
    font-size: 11px;
    font-weight: 600;
    padding-left: 0;
}

input.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

input.custom-file-input::before {
    content: 'Browse ...';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border-right: 1px solid $ipay-border;
    padding: 7px 7px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 600;
    font-size: 9pt;
}

//.custom-file-input:focus::before {
//    border-color: red;
//}
input.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

input.custom-file-input {
    border: 1px solid $ipay-border;
    border-radius: 3px;
    font-size: 11px;
}

.my-bank-item {
    min-height: 80px;
    margin-bottom: -8px;
    .portlet-title {
        position: relative;
        .my-bank-info {
            position: relative;
            .bank-logo {
                width: 80px;
                height: 80px;
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                padding-top: 8px;
                border: 1px solid #eeeeee;
                img {
                    width: 80%;
                }
            }
            .bank-description {
                padding-left: 100px;
                height: 80px;
                .bank-name {
                    font-size: 20px
                }
            }
        }
        .tools {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.top-seven {
    margin-top: 7px;
}

/* Business Role */
.list-group.business-role, .list-group.contact-suggestion {
    .list-group-item {
        cursor: pointer;
        transition: all 0.3s ease 0s;
        padding: 5px 10px;
        &:hover {
            background-color: $ipay-secondary;
            color: $ipay-text-grey;
        }
    }
}

/* Business Role access list in two column */
.list-group_two-column {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    padding: 0;

    li {
        font-size: 12px;
        line-height: 20px;
    }
}

/* Footer FAQ Page: Help Topic */
.list-group-item.help-topic {
    padding: 5px;
    border: 0;
}

.list-group-item.help-topic.active, .list-group-item.help-topic.active:focus, .list-group-item.help-topic.active:hover, .list-group-item.help-topic:hover {
    z-index: 2;
    color: #fff;
    background-color: #f9f9f9;
}

/* Login: Remember Me Checkbox */
.checkbox.remember-me {
    margin-left: 17px;
    label {
        input[type=checkbox] {
            margin-top: 6px;
            margin-left: -18px;
        }
        .checker {
            span {
                input[type=checkbox] {
                    margin-top: 6px;
                    margin-left: -20px;
                }
            }
        }
    }
}

.link-disabled {
    pointer-events: none;
    background-color: #eee !important;;
    cursor: not-allowed;
}

/* Header Business Switch Menu */
ul.dropdown-menu.business-switch-menu {
    li.item {
        //position: relative;
        a {
            font-weight: 600 !important;
            font-size: 10px !important;
            padding: 7px;

            img {
                width: 40px;
                height: 40px;
                margin-right: 7px;
            }

            i {
                color: #00e5d0 !important;
                float: right;
                transition: all 0.3s ease 0s;
                margin-top: 13px !important;
                margin-right: auto !important;
                &:hover {
                    color: darken(#00e5d0, 5%) !important;
                }
            }

        }

        //i {
        //  color: #00e5d0 !important;
        //  float: right;
        //  transition: all 0.3s ease 0s;
        //  position: absolute;
        //  top: 20px;
        //  right: 5px;
        //  cursor: pointer;
        //  &:hover {
        //    color: darken(#00e5d0, 5%) !important;
        //    background-color: #00635a;
        //  }
        //}
    }
}

.fee-box {
    padding: 30px !important;
    p {
        font-weight: 400;
    }
    h3 {
        font-size: 32px;
        margin-bottom: 25px;
        font-weight: 400;
        color: #00b2a2;
    }
}

/* Custom Bootstrap Pagination */
.pagination {
    li {
        a {
            color: $ipay-text-grey;
            &:hover {
                color: $ipay-success;
            }
        }
    }
    .active {
        a {
            color: #fff;
            background-color: $ipay-success;
            border-color: $ipay-success;
        }
    }
}
