.page-header {
  background-color: #009688;
  .page-logo {
    .logo-default {
      height: 41px;
      margin-top: 17px !important;
    }
  }
  .form-group {
    input.form-control {
      border-color: #ffffff;
    }
  }
  .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > i {
    color: #fff;
  }
  .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover > i {
    color: #E0F2F1 !important;
  }
  .page-header-top .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img {
    border-radius: 50px !important;
  }
  .page-header-top .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle > i {
    color: #fff !important;
  }
  .page-header-menu .hor-menu .navbar-nav > li:hover > a {
    @media (max-width: 991px) {
      color: #fff !important;
    }
  }
  .page-header-menu .hor-menu .navbar-nav > li.active > a:hover {
    @media (max-width: 991px) {
      background: #00695C !important;
    }
  }
  .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li > a:hover {
    @media (max-width: 991px) {
      color: #fff !important;
    }
  }
  .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
    @media (max-width: 991px) {
      color: #fff !important;
    }
  }
  .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li:hover > a > i {
    @media (max-width: 991px) {
      color: #fff !important;
    }
  }
  .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li.active > a {
    @media (max-width: 991px) {
      background-color: #00796B !important;
      color: #fff !important;
    }
  }
  .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover {
    @media (max-width: 991px) {
      background-color: #00695C !important;
    }
  }
}

.page-header-menu {
  background-color: #00796B !important;
  .hor-menu .navbar-nav > li.active > a {
    background: #004D40 !important;
    &:hover {
      background: #004D40 !important;
    }
  }
  .hor-menu .navbar-nav > li.classic-menu-dropdown .dropdown-menu {
    box-shadow: none;
  }
}

.page-header .page-header-menu .hor-menu .navbar-nav > li:hover > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li.active > a {
  background: #00695C !important;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
  background: #00695C !important;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li:hover > a > i {
  background: transparent !important;
}

.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover > i {
  color: #E0F2F1 !important;
}
