/*MIXINS*/

/*BUTTONS*/
@mixin button-border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin button-animation($buttonAnimation) {
  background: -webkit-linear-gradient(left, #3CAC9E 50%, #3CAC9E 50%);
  background: -moz-linear-gradient(left, #336E7B 50%, #E26A6A 50%);
  background: -o-linear-gradient(left, #336E7B 50%, #E26A6A 50%);
  background: linear-gradient(to left, $footer-background-color 50%, #F9F9F9 50%);
}

@mixin button-transform($buttonTransform) {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}

@mixin button-transition-property($buttonTransitionProperty) {
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
}

@mixin button-transition-duration($buttonTransitionDuration) {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

@mixin button-transition-timing-function($buttonTransitionTimingFunction) {
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

