/* Colors */
$white: #fff;
$black: #212121;

/* General Colors */
$ipay-primary: #009688;
$ipay-secondary: #f5f5f5;
$ipay-success: #00b2a2;
$ipay-regular: #3598dc;
$ipay-error: #e7505a;
$ipay-warning: #f4d03f;
$ipay-text-grey: #717171;
$ipay-text-regular: #252525;
$ipay-border: #dde1e5;

/* BACKGROUND - colors */
$primary-color: #3CAC9E;
$secondary-color: #F9F9F9;
$footer-background-color: #009688;

/* Link color */
$link-color: $secondary-color;

/* FONTS - colors */
$body-font-color: #666666;
$headline-font-color: $black;

/* FONTS - family */
$base-font-family: 'Open Sans', sans-serif;
$headline-font-family: 'Roboto', sans-serif;

/* FONTS - size */
$blockTitle-font-size: 48px;
$blockTitleSmall-font-size: 18px;
$base-font-size: 14px;

/* BUTTON - colors */
$btn-primary-color: #3CAC9E;
$btn-default-color: #F9F9F9;
$btn-primary-font-color: $white;
$btn-default-font-color: $headline-font-color;
$btn-nan-color: #00D3C0;

/* BUTTON - font size */
$btn-font-size: 13px;

/* BUTTON - font family */
$btn-font-family: $headline-font-family;

/* Media Queries */
$mq-desktop: 1382px !default;
$mq-md-device: 1199px !default;
$mq-tablet-landscape: 1024px !default;
$mq-tablet-small-landscape: 991px !default;

$mq-tablet-portrait: 768px !default;
$mq-mobile-md-device: 669px !default;
$mq-mobile-four-nine-seven: 497px !default;
$mq-mobile-landscape: 480px !default;
$mq-mobile-four-hundred: 420px !default;
$mq-mobile-three-seventy: 375px !default;
$mq-mobile-portrait: 320px !default;





